
html {
    display: flex;
    min-width: 320px;
    min-height: 800px;
} 

header {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    align-content: center;
    position: fixed;
}
body {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: #ffffff;
    min-width: 320px;
    max-width: auto;
    text-align: center;
    min-height: auto;
    max-height: none;
}

.main-text {
    display: flex;
    align-items:baseline;
    vertical-align: auto;
    min-height: 100px;
    margin-top: 60px;
    padding: 10px;
    max-height: 300px;
    max-width: auto;
}
.main-text h1 {
    align-items: center;
    text-align: center;
}

.start-button {
    position: absolute;
    margin-top: 175px;
    align-items: center;
    text-align: center;
    border: #ffffff;
    border-style: solid;
    height: 100px;
    width: 350px;
}

button.get-started {
    font-size: x-large;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 100px;
}