:root {
    --font: "Arial Rounded MT Bold", sans-serif;
    --fontOrigin: 1rem;
    /* 16px */
    --fontSmall: 0.625em;
    /* 10px */
    --fontMedium: 0.875em;
    /* 14px */
    --fontNormal: 1em;
    /* 16px */
    --fontLarge: 1.375em;
    /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
    --headline-gradient-start: #194BB5;
    --headline-gradient-end: #009DE4;
    --headline-gradient-shimmer: #5AC8FA;
    --gradient-highlight-spread: 20%;
    --gradient-shimmer-angle: 100deg;
    --gradient-position-start: 140;
    --gradient-position-end: -40;
    --color-background: #31037D;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
}

@keyframes zoom {
    from {
        object-position: 0 50%;
    }

    to {
        object-position: 100% 50%;
    }
}

@keyframes blur {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(2, 2);
    }
}

@keyframes rainbow {

    0%,
    100% {
        transform: translatey(var(--axis-y));
    }

    50% {
        transform: translatey(calc(var(--axis-y) * -1));
    }
}

@keyframes multicolor {

    0% {
        transform: scale(1, 1);
    }

    15% {
        color: var(--color-background);
    }

    25% {
        transform: scale(2, 2) translateX(1em);
        color: var(--color-violet);
    }

    35% {
        color: var(--color-red);
    }

    45% {
        color: var(--color-orange);
    }

    50% {
        color: var(--color-green);
        transform: scale(4, 4) translateX(1em);
    }

    65% {
        color: var(--color-blue);
    }

    75% {
        transform: scale(2, 2) ;
        color: var(--color-yellow);
    }

    100% {
        transform: scale(1, 1) translate(-1em);
        color: white;
    }
}


html {
    background-image: url(../Images/vimal-s-M6IOL-9hDE0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Arial Rounded MT", "Helvetica Rounded LT Std", Arial, sans-serif;
    width: auto;
    height: auto;
    color: #000;
}

body {
    margin: 0px 0px 0px 0px;
}

div {
    /* border: dashed #ffffff;  */
    display: flexbox;
}

span {
    display: flexbox;
}

.suggested-events {
    display: flexbox;
    align-items: center;
    height: 80vh;
    width: 100%;
}

/* Header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0 0 0 0;
    background-color: rgba(82, 82, 82, 0.209);
    backdrop-filter: saturate(180%) blur(20px);
}

.header-logo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
}

h2 {
    color: white;
}

/* Logo Animation */

.prysm-layers {
    counter-reset: rainbow;
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
}

.prysm-layers>li {
    animation: rainbow 3s ease-in-out 10s;
}

.prysm-caps__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 2rem;
    color: var(--text-color);
    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.prysm-caps__layer:nth-child(1) {
    animation-delay: calc(1 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 1);
    z-index: -10;
}

.prysm-caps__layer:nth-child(2) {
    animation-delay: calc(2 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 2);
    z-index: -20;
}

.prysm-caps__layer:nth-child(3) {
    animation-delay: calc(3 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 3);
    z-index: -30;
}

.prysm-caps__layer:nth-child(4) {
    animation-delay: calc(4 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 4);
    z-index: -40;
}

.prysm-caps__layer:nth-child(5) {
    animation-delay: calc(5 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 5);
    z-index: -50;
}

.prysm-caps__layer:nth-child(6) {
    animation-delay: calc(6 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 6);
    z-index: -60;
}

.prysm-caps__layer:nth-child(7) {
    animation-delay: calc(7 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 7);
    z-index: -70;
}

.prysm-caps__layer:not(:first-child) {
    position: absolute;
    top: 0;
}

.prysm-caps__layer--white {
    --text-color: var(--color-white);
}

.prysm-caps__layer--orange {
    --text-color: var(--color-orange);
}

.prysm-caps__layer--red {
    --text-color: var(--color-red);
}

.prysm-caps__layer--violet {
    --text-color: var(--color-violet);
}

.prysm-caps__layer--blue {
    --text-color: var(--color-blue);
}

.prysm-caps__layer--green {
    --text-color: var(--color-green);
}

.prysm-caps__layer--yellow {
    --text-color: var(--color-yellow);
} 


/* Current Location */

.header-location {
    margin: 0 0.5em 0 0.5em;
    flex-wrap: nowrap;
}

#location-glyph {
    z-index: 1;
}

.header-location>a {
    color: #fff;
    font-size: 18px;
}

/* Navbar */

.header-navbar {
    flex-wrap: nowrap;
    width: auto;
}

.navbar-list>ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    padding: 0px;
}

.navbar-list>a {
    color: #fff;
    font-size: 30px;
}

#search-glyph {
    display: none;
}

/* Navbar links */

.navbar-list {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-list * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

ul {
    padding-inline-start: 0px;
}

.navbar-list li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.4em;
    padding: 0;
}

.navbar-list a {
    padding: 0.4em 0;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.navbar-list a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 3px solid #2268ff;
    border-bottom: 3px solid #2268ff;
}

.navbar-list a:hover,
.navbar-list .current a {
    color: #ffffff;
    transform: scale(1.2, 1.2);
}

.navbar-list a:hover:before,
.navbar-list .current a:before {
    opacity: 1;
    top: 0;
    bottom: 0;
}

/* Main Content Area */

.main-viewing-area {
    display: flex;
    height: 200vh;
    min-height: 400px;
    width: auto;
    overflow-y: scroll;
    backdrop-filter: blur(50px);
}

.suggested-events {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: nowrap;
    padding-bottom: 0em;
    padding-top: 0em;
    justify-content: space-evenly;
    align-items: baseline;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-footer {
    color: #fff;
    display: none;
    justify-content: center;
    background-color: rgba(167, 167, 167, 0.115);
}

.icon-credits {
    display: none;
}

/* Responsive Layout Rules */

@media screen and (max-width: 900px) {
    .header-navbar {
        display: none;
    }

}

@media screen and (min-width: 900px) {
    .window {
        display: none;
    }

    .header-logo {
        margin-left: 1em;
    }

}