:root {
    --font: "Arial Rounded MT Bold", sans-serif;
    --fontOrigin: 1rem;
    /* 16px */
    --fontSmall: 0.625em;
    /* 10px */
    --fontMedium: 0.875em;
    /* 14px */
    --fontNormal: 1em;
    /* 16px */
    --fontLarge: 1.375em;
    /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
    --headline-gradient-start: #194BB5;
    --headline-gradient-end: #009DE4;
    --headline-gradient-shimmer: #5AC8FA;
    --gradient-highlight-spread: 20%;
    --gradient-shimmer-angle: 100deg;
    --gradient-position-start: 140;
    --gradient-position-end: -40;
}

@keyframes zoom {
    from {
        object-position: 0 50%;
    }

    to {
        object-position: 100% 50%;
    }
}

@keyframes blur {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(2, 2);
    }
}

html {
    background-image: url(../Images/vimal-s-M6IOL-9hDE0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Arial Rounded MT", "Helvetica Rounded LT Std", Arial, sans-serif;
    width: auto;
    height: auto;
    color: #000;
}

div {
    /* border: dashed #ffffff;  */
    display: flexbox;
}

span {
    display: flexbox;
}

h1 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.suggested-events {
    display: flexbox;
    align-items: center;
    height: 100%;
    width: 100%;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: rgba(82, 82, 82, 0.209);
    backdrop-filter: saturate(180%) blur(20px);
    /*border: dashed white;*/
}

.header-logo {
    width: 200px;
    height: 75px;
    border: none;
}

.prysm-caps {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
    justify-content: center;
}

.header-searchbar {
    width: 50%;
}

.searchbar-input {
    width: 100%;
}

.header-location {
    justify-self: flex-end;
    margin-right: 1em;
}

/* Navbar */

#checkbox {
    display: none;
}

#checkbox:checked~.line--top {
    transform: rotate(45deg);
}

#checkbox:checked~.line--middle {
    transform: translateX(16px);
    opacity: 0;
}

#checkbox:checked~.line--bottom {
    transform: rotate(-45deg);
}

.hamburger {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.line {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    transform: 0.25s, opacity 0.35s;
}

.line--top {
    transform: translateY(-7px);
}

.line--bottom {
    transform: translateY(7px);
}

.sidebar-home {
    min-height: auto;
    display: flex;
    padding-top: 1em;
    overflow: hidden;
    flex-direction: column;
    float: left;
    background-color: rgba(67, 67, 67, 0.322);
    backdrop-filter: blur(50px);
    width: 200px;
    min-height: 100vh;
}

.sidebar-home>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0px;
}


/* Navbar links */

.sidebar-home a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 14px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.navbar-list a:hover {
    color: #009DE4;
    transition: 0.25s ease-out;
    transform: scale(1.2, 1.2);
}


/* Main Content Area */

.main-viewing-area {
    display: flex;
    height: 900px;
    min-height: 400px;
    width: auto;
    overflow-y: scroll;
    backdrop-filter: blur(50px);
}


.suggested-events {
    display: flex;
    flex-direction: row;
    height: 80vh;
    flex-wrap: wrap;
    padding-bottom: 0em;
    padding-top: 0em;
    justify-content: space-evenly;
    align-items: baseline;
    overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
}

.main-footer {
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: rgba(167, 167, 167, 0.115);
}