:root {
    --font: "Arial Rounded MT Bold", sans-serif;
    --fontOrigin: 1rem;
    /* 16px */
    --fontSmall: 0.625em;
    /* 10px */
    --fontMedium: 0.875em;
    /* 14px */
    --fontNormal: 1em;
    /* 16px */
    --fontLarge: 1.375em;
    /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
    --headline-gradient-start: #194BB5;
    --headline-gradient-end: #009DE4;
    --headline-gradient-shimmer: #5AC8FA;
    --gradient-highlight-spread: 20%;
    --gradient-shimmer-angle: 100deg;
    --gradient-position-start: 140;
    --gradient-position-end: -40;
    --color-background: #31037D;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
}

/* Responsive Layout Rules */

@media screen and (max-width: 900px) {
    .header-navbar {
        display: none;
    }

    .suggested-events {
        flex-wrap: wrap;
        flex-direction: column;
        height: 200vh;
        align-items: center space-around;
        justify-content: start;
        padding-top: 0.1em;
        background-color: transparent;
    }
}

@media screen and (min-width: 900px) {
    .dropdown-menu {
        display: none;
    }

    .header-logo {
        margin-left: 1em;
    }

}

@keyframes zoom {
    from {
        object-position: 0 50%;
    }

    to {
        object-position: 100% 50%;
    }
}

@keyframes blur {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(2, 2);
    }
}

html {
    background-image: url(../Images/vimal-s-M6IOL-9hDE0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Arial Rounded MT", "Helvetica Rounded LT Std", Arial, sans-serif;
    width: 100vw;
    height: auto;
    color: #000;
}

body {
    margin: 0px 0px 0px 0px;
}

div {
    display: flexbox;
}

span {
    display: flexbox;
}

.suggested-events {
    display: flexbox;
    align-items: center;
    height: 80vh;
    width: 100%;
}

/* Header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0 0 0 0;
    background-color: rgba(82, 82, 82, 0.209);
    backdrop-filter: saturate(180%) blur(20px);
}

.header-logo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
}

h2 {
    color: white;
}

.prysm-logo {
    margin: 0 0 0 0.5em;
    font-size: 32px;
}



/* Navbar */

.header-navbar {
    flex-wrap: nowrap;
    width: auto;
}

#search-glyph {
    display: none;
}

.navbar-list * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

ul {
    padding-inline-start: 0px;
}

.navbar-list li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.4em;
    padding: 0;
}

.navbar-list a {
    padding: 0.4em 0;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.navbar-list a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 3px solid #2268ff;
    border-bottom: 3px solid #2268ff;
}

.navbar-list a:hover {
    transform: scale(1.1, 1.1);
    color: #fff;
}

.navbar-list a:hover:before,
.navbar-list .current a:before {
    opacity: 1;
    top: 0;
    bottom: 0;
}

/* Current Location */

.header-location {
    margin: 0 0.5em 0 0.5em;
    flex-wrap: nowrap;
}

#location-glyph {
    z-index: 1;
}

.header-location>a {
    color: #fff;
    font-size: 18px;
}

/* Main Content Area */

.main-viewing-area {
    display: flex;
    height: 100vh;
    min-height: 400px;
    width: auto;
    overflow-y: scroll;
    backdrop-filter: blur(50px);
}

.suggested-events {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    padding-bottom: 0em;
    padding-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-footer {
    color: #fff;
    display: none;
    justify-content: center;
    background-color: rgba(167, 167, 167, 0.115);
}

.icon-credits {
    display: none;
}

/* Suggested Event Card */

.card,
.card2,
.card3 {
    position: relative;
    grid-area: card;
    /* align-self: center; */
    /* justify-self: center; */
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin: 0.5em 0 0.5em 0;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    /* box-shadow: 8px 16px 60px rgba(197, 197, 197, 0.3); */
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover,
.card2:hover,
.card3:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    opacity: 1;
    z-index: 3;
    opacity: 0.6;
}

figure {
    margin: 0 0 0 0;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    filter: blur(5px) hue-rotate(40deg);
}

.card:hover .card__image img,
.card2:hover .card__image img,
.card3:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    filter: blur(10px) hue-rotate(360deg);
}

/* Card Content */

.card__header {
    display: grid;
    width: 100%;
    height: 250px;
    padding: 1em 0 1em 0;
}

.card:hover .card__header {
    width: 40%;
}

.card__profile {
    align-self: center;
    justify-self: center;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 95%;
    max-width: 300px;
    max-height: 200px;
    border-radius: 20%;
}

.card__profile img {
    -webkit-transform: scale(1.5, 1.5) translateZ(0);
    transform: scale(1.5, 1.5) translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card:hover .card__profile img,
.card2:hover .card__profile img,
.card3:hover .card__profile img {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(0.75, 0.75) translateZ(0);
}

.card:hover .card__profile,
.card2:hover .card__profile,
.card3:hover .card__profile {
    display: none;
    height: 20px;
}

.card__body {
    display: grid;
    padding: 0 20px;
}

.card:hover .card__body,
.card2:hover .card__body,
.card3:hover .card__body {
    width: 100%;
    transform: translate(-15px, -250px);
    transition: all 0.4s ease;
}

.card__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: #ffffff7b;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #ffffff28;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(white, #e9e9e9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__name,
.card2:hover .card__name,
.card3:hover .card__name {
    background: linear-gradient(100deg, #5AC8FA, #009DE4, #194BB5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease-in;
    font-size: 38px;
}

.card__host {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(151, 151, 151, 0.5);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__host,
.card2:hover .card__host,
.card3:hover .card__host {
    outline: thick double linear-gradient(100deg, #5AC8FA, #009DE4, #194BB5);
    transform: translateY(20px);
    -webkit-transform: scale(0.9, 0.9) translateZ(0);
    transition: all 0.45s ease-in;
    font-size: larger;
    opacity: 0.8;
    color: #ffffff;
}

.card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 0 0 0 0;
    text-align: center;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__bio,
.card2:hover .card__bio,
.card3:hover .card__bio {
    -webkit-transform: translateY(50%);
    transform: translate(0px, 200px, 1);
    opacity: 1;
    color: #ffffff;
}

.card__footer {
    position: relative;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "date category";
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__footer,
.card2:hover .card__footer,
.card3:hover .card__footer {
    -webkit-transform: translateY(0);
    transform: translateY(-210px);
    opacity: 1;
    transition: all 0.5s ease;
}

.card__date {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.62);
}

.card__location {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.62);
    margin-top: 40px;
}


/* Card Effects */
.card[data-effect="blur"]:hover .card__image img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.card[data-effect="blur"] .card__image img {
    animation-name: blur;
} 
