:root {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded LT Std", Arial, sans-serif;
    --palette-dark0: #001341;
    --palette-dark1: #00396c;
    --palette-dark2: #12629b;
    --palette-light1: #B6DCF6;
    --palette-light0: #E4F2FC;
}

body {
    margin: 0;
}

.landing-entire-body {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: cover;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
}

@-webkit-keyframes Background {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Background {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Background {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.landing-main {
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* -webkit-align-items: center; */
    /* align-items: center; */
    /* -webkit-justify-content: center; */
    justify-content: center;
    text-align: center;
    filter: saturate(1.6);
    backdrop-filter: blur(20px);
    overflow-y: scroll;
    overflow-x: auto;
}

.landing-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    backdrop-filter: brightness(75%);
}

.prysm-caps, .landing-login-button {
    color: #fff;
}

.prysm-caps {
    font-size: 36px;
}

.header-login {
    border: 2px solid rgba(255, 255, 255, 0.264);
    background-color: rgba(162, 161, 161, 0.264);
    padding: 0.5em;
}

.landing-login-button {
    font-size: 22px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-h1 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, .6);
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
    font-size: 72px;
}

.landing-button-signup {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    padding: 20px 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    margin: 0 auto;
    display: block;
    width: 1fr;
    background-color: rgba(89, 88, 88, 0.165);
    border-radius: 19px;
}

.landing-button-signup:hover {
    box-shadow: 0 20px 5px -10px rgba(#000);
    transition: 0.4s ease;
    transform: translateY(10px) scale(1.2, 1.2);
    background-color: rgba(108, 107, 107, 0.07);
    text-shadow: 0 4px 5px rgba(5, 218, 30, 0.228);
    text-decoration: solid;
    border: 3px solid rgba(5, 217, 30, 0.379);
    border-radius: 19px;
}
